<%= javascript_include_tag 'http://localhost:9292/faye.js' %>

<div class="post-container">

  <%= render partial: 'shared/idea_detail', object: @idea, as: :idea %>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="post-text rounded-box">
        <p><%= @idea.description %></p>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="post-reply">
  <%= link_to 'Reply', new_idea_comment_path(idea_id: @idea, parent_id: nil),
                       class: 'btn btn-primary',
                       remote: true,
                       method: :get %>
  <div id="<%= "comment-#{nil}-reply" %>" class="comment-reply-form"></div>
</div>

<hr />

<div class="comments-container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Recent comments:</h4>
    </div>
  </div>

  <%= @idea.comments_block %>
</div>
