<div class="post post-summary rounded-box">
  <div class="row post-board">
    <div class="col-sm-12">
      <h3>
        <%= link_to idea.description, idea_path(idea) %>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
      <span>
        <%= render 'shared/vote_box', voteable: idea %>
      </span>
    </div>
    <div class="col-sm-11">
      <div class="row post-title">
        <h4><%#= link_to post.title, board_post_path(post.board.id, post.id) %></h4>
      </div>
      <div class="row post-stats">
        <p>
          submitted <%= time_ago_in_words(idea.created_at) %> ago by
           <%= link_to idea.user.username, idea.user %>
        </p>
      </div>
      <div class="row post-comments">
        <%= link_to "#{idea.comments.size} comments", idea_path(idea.id) %>
      </div>
    </div>
  </div>
</div>
